<%= form_for(@work_memo) do |f| %>
  <% if @work_memo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_memo.errors.count, "error") %> prohibited this work_memo from being saved:</h2>

      <ul>
      <% @work_memo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_field :text %>
  </div>
  <div class="field">
    <%= f.label :work_id %><br />
    <%= f.number_field :work_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
