<h1>Listing work_memos</h1>

<table>
  <tr>
  	<th>Id</th>
    <th>Text</th>
    <th>Work</th>
    <th></th>
  </tr>

<% @work_memos.each do |work_memo| %>
  <tr>
  	<td><%= work_memo.id %></td>
    <td><%= link_to work_memo.text work_memo %></td>
    
    <td>
    	<% if work_memo.work_id != nil %>
    		<%= work_memo.work.serial_num %>
		<% else %>
			No data
		<% end %>
    	
	</td>

    <td><%= link_to 'Destroy', work_memo, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work memo', new_work_memo_path %>
