<%= form_for(@work) do |f| %>
  <% if @work.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work.errors.count, "error") %> prohibited this work from being saved:</h2>

      <ul>
      <% @work.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
	<%= f.label :title %><br />
		<%= f.text_field :title %>
    	
  </div>

  <div class="field">
    <%= f.label :serial_num %><br />

    	<% if @serial_num != nil %>
    		<%= f.text_field :serial_num, :value => @serial_num %>
		<% else %>
			<%= f.text_field :serial_num %>
		<% end %>
  </div>
  
  <div class="field">
    <%= f.label :music_id %><br />
    <%= select("work", "music_id", Music.all.collect {|m| [m.file_name, m.id]}) %>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
