<p id="notice"><%= notice %></p>

<p>
  <b>Work: <%= @work.id %></b>
  
</p>


<p>
  <b>Title:</b>
  <%= @work.title %>
</p>

<p>
  <b>Serial num:</b>
  <%= @work.serial_num %>
</p>

<p>
  <b>Music:</b>
  <%= @work.music_id %>
      	(
	      	<% if @work.music != nil %>
	    		<%= @work.music.file_name %>
			<% else %>
				No data
				
			<% end %>
		)

</p>


<%= link_to 'Edit', edit_work_path(@work) %> |
<%= link_to 'Back', works_path %>
